<div class="top">
  <div class="character">
    <%= link_to "" ,"/characters/new" ,class: 'character-post' %>
  </div>
  <div class="start">START</div>
  <div class="text">
  </div>
  <div class="question1">
    <div id="effect" class="ui-widget-content ui-corner-all">
      <p>紫陽花</p>
    </div>
    <div class="form1">
      <input type="text" id="character1">
      <input type="submit" id="send1" value="答え合わせ" onclick="check(1)" >
    </form>
  </div>
  <div class="question2">
    <div id="effect" class="ui-widget-content ui-corner-all">
      <p>金木犀</p>
    </div>
    <div class="form2">
      <input type="text" id="character2">
      <input type="button" id="send2" value="答え合わせ" onclick="check(2)" >
    </div>
  </div>
  <div class="question3">
  <div id="effect" class="ui-widget-content ui-corner-all">
    <p>山茶花</p>
  </div>
  <div class="form3">
      <input type="text" id="character3">
      <input type="button" id="send3" value="答え合わせ" onclick="check(3)" >
    </div>
  </div>
  <script type="text/javascript">
    $('.start').click(function(){
      $('.question1').show();
      $('.start').hide();
       });
    $('#send1').click(function(){
        $('.question1').hide();
      })
    $('#send2').click(function(){
      $('.question2').hide();
      $('.question3').show();
    })
    $( function() {
      $('.start').click(function() {
        $('#effect').effect( 'scale', { percent: 300 }, 10000 );
      } );
    } );
    function check(num){
      var ans = ["あじさい","きんもくせい","さざんか"]
      var input = document.getElementById("character"+num).value;
      num = num - 1
      if( input == ans[num] ){
        $('question2').show();
      } else {
        alert("不正解です。答えは"+ans[num]+"です");
      }
      return true;
    }
    $
  </script>
