.correct{
  width:50vw;
  height:50vh;
  margin: auto;
  padding-top:100px;
  text-align: center;
  span{
  color: red;
  font-size: 4em;
  }
  .new_review{
  padding-top:100px;
  font-size: 2em;
  }
}
.incorrect{
  width:50vw;
  height:50vh;
  margin: auto;
  padding-top:100px;
  text-align: center;
  font-size: 2em;
  color:blue;
}
